.form {
    background-color: var(--color-dark-4);
    color: var(--color-light-2);
    padding: 1rem;
    margin: auto;
    border-radius: 1rem;
    box-shadow: var(--box-shadow-1);
    font-size: 1.5rem;
    width: 100%;
    max-width: 80rem;
}

.form > div {
    display: grid;
    gap: 1rem;
}

.form > div > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.form > div > div label {
    font-weight: 600;
}

.form > div > div input,
.form > div > div select,
.form > div > div textarea {
    outline: none;
    border: none;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--color-dark-6);
}

.form > div > div label {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

button.add,
.form > div > button {
    background-color: var(--color-red-1);
    padding: 1rem;
    outline: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-light-2);
    width: 100%;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.form > div > div label button {
    font-size: 1.4rem;
    padding: 0.2rem;
    width: 10rem;
    background-color: var(--color-dark-1);
    border-radius: 0.5rem;
}

.createOrder {
    max-width: none;
}

.form.edit {
    overflow-y: scroll;
    height: 80vh;
}
